@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  text-align: center;
  background: #1A1A40;
  color: white;
  font-size: 20px;
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.App {
  text-align: center;
  flex: 1;
  margin-top: 6rem; /* Adjust based on header height */
  margin-bottom: 4rem; /* Adjust based on footer height */
}

header {
  text-align: center;
  background: #1A1A40;
  color: white;
  font-size: 30px;
  padding: 1rem;
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  display: flex;  /* Arrange buttons side by side */
  gap: 0.5rem;    /* Add some space between buttons */
  margin-top: 0;
  margin-right: 1rem; /* Adjust margin to control spacing from the right */
}

.auth-btn {
  background-color: #8758ff;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}


h1 {
  margin-left: 1rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  padding: 2rem;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 600px; 
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
